.label_input { color: #444; }
.label_input:focus { color: black; }
.label_input:hover { color: black; }

#query_results {
    margin-top: 0.8em;
    margin-bottom: 0.5em;
}

.graph_title {
    margin-left: 2em;
}

.inline_header {
    float: left;
}

#new_dataset_form {
    float: left;
    clear: left;
    max-width: 50em;;
    margin-right: 1em;
}

#other_dataset_form {
    float: left;
    max-width: 40em;
}

.dataseries_label {
    float: left;
    clear: left;
    width: 9em;
}

.form_input {
    float: left;}


.details_label {
    float: left;
    clear: left;
    width: 7em;
}

.composite_label {
    float: left;
    clear: left;
    width: 5em;
}
