body {
    width: 90%;
    min-wdith: 950px;
    /*min-width: 600px;*/
    margin: auto;
}

#doc3 {
    margin: 1em;
    border: 1px solid gray;
}

#hd h1 {
    font-size: 197%;
}

#topnav {
    font-size: 138.5%;
    margin-top: 0;
    padding-left: 0.6em;
    font-weight: bold;
    border-bottom: 1px solid grey;
}

#topnav ul, #topnav li {
    margin: 0;
    padding-left: 0.5em;
    display: inline;
}

#topnav li:first-child {
    padding-left: 0;
}

#topnav a {
    text-decoration: none;
    color: #555;
}

#topnav a:hover {
    color: black;
}

ul.arrow_list { padding-top: 0.35em; }

ul.arrow_list li:before {
    content: "\00BB \0020";
}

q:before { content: open-quote; }
q:after { content: close-quote; }

fieldset {
    padding-left: 0.8em;
    padding-right: 0.8em;
    padding-bottom: 0.4em;
}

#bd { font-size: 138.5%; }

#real_content {
    padding-top: 0.5em;
    padding-left: 0.6em;
    padding-right: 0.6em;
}

h1 {
    font-weight: bold;
	border-bottom: 1px solid gray;
	background-color: #EEE;
	margin-top: 0;
	padding-left: 0.6em;
	padding-right: 1em;
    margin-left: 0;
    margin-bottom: 0;
}

h2 {
	font-size: 108%;
    font-weight: bold;
	margin-top: 0.25em;
	margin-bottom: 0.20em;
}

h3 {
    font-size: 100%;
    font-weight: bold;
	margin-bottom: 0.25em;
    }


#ft {
    padding-left: 0.4em;
    font-size: 85%;
    color: #555;
    margin-top: 0.6em;
}


.inline_header h1 { display: inline; }
.inline_header h2 { display: inline; }
.inline_header h3 { display: inline; }

p {
	margin-top: 0;
}

legend {
	font-weight: bold;
}

fieldset {
    border: 1px solid grey;
    border-radius: 5px;
}

.topnav_link {
    margin-left: 0.2em;
    margin-right: 0.2em;
}

.topnav_select {
    float: right;
    padding-right: 0.4em;
}

.mini_link { font-size: 0.8em; }
    

#info_message {
    border: solid #00c300 2px;
    background-color: #eeffee;
    min-width: 10em;
    max-width: 30em;
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

#error_message {
    border: solid #c30000 2px;
    background-color: #ffeeee;
    min-width: 10em;
    max-width: 30em;
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

table {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border-collapse: collapse;
}

.api_table th {
    border-bottom: 1px solid black;
    font-style: italic;
}

.api_table th,td {
    padding-right: 0.5em;
}

#bd p { padding-bottom: 0.4em; }

code {
    margin-left: 1em;
    background-color: #EFEFEF;
    }

dfn { font-style: italic; }

.lexigraph_chart div{
    width: 100px;
}

strong {
    font-weight: bold;
}
