html { font-family: sans-serif; }

body {
    border: 1px solid gray;
    margin-left: 1em;
    margin-right: 1em;
}

h1 {
	font-size: 1.3em;
	border-bottom: 1px solid gray;
	background-color: #EEE;
	margin-top: 0;
	padding-left: 0.6em;
    margin-bottom: 0;
}

#content_padding {
    padding-left: 0.6em;
    padding-right: 0.6em;
}

#topnav {
    margin-top: 0;
    padding-left: 0.6em;
    font-weight: bold;
    border-bottom: 1px solid grey;
}

#topnav a {
    text-decoration: none;
    color: #555;
    /*color: black;*/
}

#topnav a:hover {
    text-decoration: none;
    color: black;
}

#footer {
    /*background-color: #EFEFEF;*/
    padding-left: 0.4em;
    font-size: 0.7em;
    color: #555;
    margin-top: 0.6em;
    }

h2 {
	font-size: 1.1em;
	margin-bottom: 0.25em;
}

h3 {
    /*font-size: 0.9em;*/
	margin-bottom: 0.25em;
    }

.inline_header h1 { display: inline; }
.inline_header h2 { display: inline; }
.inline_header h3 { display: inline; }

p {
	margin-top: 0;
}

legend {
	font-weight: bold;
}

fieldset {
    border: 1px solid grey;
    border-radius: 5px;
}

.topnav_link {
    margin-left: 0.2em;
    margin-right: 0.2em;
}

.topnav_select {
    float: right;
}

.mini_link { font-size: 0.8em; }
    

#session_messages {
    border: solid #00c300 2px;
    background-color: #eeffee;
    min-width: 10em;
    max-width: 30em;
    /*width: 20em;*/
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}
