body {
    width: 90%;
    min-width: 600px;
    margin: auto;
}

#doc3 {
    margin: 1em;
    border: 1px solid gray;
}

#hd h1 {
    font-size: 197%;
}

#topnav {
    font-size: 138.5%;
}

ul { padding-top: 0.35em; }

/* This is super ghetto, but right now only the home page uses it. If fixing
 * this, fix the splash page too.
 */
ul li:before {
    content: "\00BB \0020";
}

q:before { content: open-quote; }
q:after { content: close-quote; }

fieldset {
    padding-left: 0.8em;
    padding-right: 0.8em;
    padding-bottom: 0.4em;
}

#bd { font-size: 138.5%; }

#real_content {
    padding-top: 0.5em;
    padding-left: 0.6em;
    padding-right: 0.6em;
}

h1 {
    font-weight: bold;
	border-bottom: 1px solid gray;
	background-color: #EEE;
	margin-top: 0;
	padding-left: 0.6em;
	padding-right: 1em;
    margin-left: 0;
    margin-bottom: 0;
}

h2 {
	font-size: 108%;
    font-weight: bold;
	margin-top: 0.25em;
	margin-bottom: 0.20em;
}

h3 {
    /*font-size: 0.9em;*/
    font-weight: bold;
	margin-bottom: 0.25em;
    }

#topnav {
    margin-top: 0;
    padding-left: 0.6em;
    font-weight: bold;
    border-bottom: 1px solid grey;
}

#topnav a {
    text-decoration: none;
    color: #555;
    /*color: black;*/
}

#topnav a:hover {
    text-decoration: none;
    color: black;
}

#ft {
    padding-left: 0.4em;
    font-size: 85%;
    color: #555;
    margin-top: 0.6em;
}


.inline_header h1 { display: inline; }
.inline_header h2 { display: inline; }
.inline_header h3 { display: inline; }

p {
	margin-top: 0;
}

legend {
	font-weight: bold;
}

fieldset {
    border: 1px solid grey;
    border-radius: 5px;
}

.topnav_link {
    margin-left: 0.2em;
    margin-right: 0.2em;
}

.topnav_select {
    float: right;
    padding-right: 0.4em;
}

.mini_link { font-size: 0.8em; }
    

#session_messages {
    border: solid #00c300 2px;
    background-color: #eeffee;
    min-width: 10em;
    max-width: 30em;
    /*width: 20em;*/
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}
