{% macro draw_graph(ds, dims=None) -%}
<div class="inline_header">
    {% if ds.kind() == "CompositeDataSet" %}
    <h2 class="graph_title">
      <a href="/edit/dataset?c={{ds.encode()}}" title="edit composite">{{ds.name}}</a>
    </h2>
    <div id="graph_dataset_{{ds.encode()}}" class="lexigraph_chart"
         {% if dims %}style="width: {{dims.width}}px; height: {{dims.height}}px;"{% endif %}
         ></div>
  {% else %}
    <h2 class="graph_title">
      <a href="/edit/dataset?d={{ds.encode()}}" title="edit {{ds.name}}">{{ds.name}}</a>
    </h2>
  <div id="graph_dataset_{{ds.encode()}}" class="lexigraph_chart"
    {% if dims %}style="width: {{dims.width}}px; height: {{dims.height}}px;"{% endif %}
  ></div>
  {% endif %}
</div> <!-- inline header -->
{%- endmacro -%}

{% macro draw_graphs(datasets, width=None, add_script=True) -%}
  {% if datasets %}
    {% if width %}
      {% set dims = {'width': width, 'height': width / 2 } %}
    {% else %}
      {% set dims = None %}
    {% endif %}
    {% for ds in datasets %}
      {{ draw_graph(ds, dims=dims) }}
    {% endfor %}
    {% if add_script %}
      <script type="text/javascript">
        try {
      {% for ds in datasets -%}
      {% if ds.kind() == "CompositeDataSet" %}
      LX.drawGraph({datasets: {{ds.keys_json()}}, dataset_id: "{{ds.encode()}}"});
      {% else %}
      LX.drawGraph({datasets: {{ds.keys_json()}}, dataset_id: "{{ds.encode()}}"});
      {% endif %}
      {% endfor %}
        } catch (e) {
        console.info(e);
        throw e;
        }
      </script>
    {% endif %}
  {% else %}
    no matching graphs!
  {% endif %}
{%- endmacro -%}
