{% macro draw_graph(name, dims=None) -%}
<div class="inline_header">
  <h2 class="graph_title">
    <a href="/edit/dataset?name={{name}}" title="edit {{name}}">
      {{name}}
    </a>
  </h2>
  <div id="graph_dataset_{{name}}" class="lexigraph_chart"
    {% if dims %}style="width: {{dims.width}}px; height: {{dims.height}}px;"{% endif %}
  ></div>
</div> <!-- inline header -->
{%- endmacro -%}

{% macro draw_graphs(names, width=None, add_script=True) -%}
  {% if names %}
    {% if width %}
      {% set dims = {'width': width, 'height': width / 2 } %}
    {% else %}
      {% set dims = None %}
    {% endif %}
    {% for name in names %}
      {{ draw_graph(name, dims=dims) }}
    {% endfor %}
    {% if add_script %}
      <script type="text/javascript">
      {% for name in names -%}
        LX.drawGraph({dataset_name: "{{name}}"});
      {% endfor %}
      </script>
    {% endif %}
  {% else %}
    no matching graphs!
  {% endif %}
{%- endmacro -%}
