{% extends "base.html" %}

{% block body_header %}
manage accounts
{% endblock %}

{% block body_content %}
{% if accounts %}
<form action="/choose/account" method="POST">
  <fieldset>
    <legend>select an account</legend>
    choose account:
    <select name="account">
      {% for account in accounts %}
      <option value="{{account.name}}">{{account.name}}</option>
      {% endfor %}
    </select>
    <input type="submit" value="submit"/>
  </fieldset>
</form>
{% endif %}

<form action="/new/account" method="POST">
  <fieldset>
    <legend>create a new account</legend>
    create a new account. this should be a logical account for an entire domain
    (imagine a hosted account), e.g. something like <q>yelp.com</q> or
    <q>485 w. macarthur</q>.<br />
    account name: <input type="text" name="account_name"> <input type="submit" value="create!">
  </fielset>
</form>
{% endblock %}
