{% import "macros.html" as macros %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    {% block head %}
    <title>lexigraph</title>
    <link rel="shortcut icon" href="/images/cat.png" type="image/png" />
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.0r4/build/reset-fonts-grids/reset-fonts-grids.css">
    <link rel="stylesheet" type="text/css" href="/css/lexigraph.css" />
    <script type="text/javascript">CLOSURE_BASE_PATH="/"</script>
    <script type="text/javascript" src="/js/dygraph-combined.js"></script>
    {% block extra_css %}{% endblock %}
    {% if is_live %}
    {{ macros.versioned_js(serials, "lexigraph.min.js") }}
    {% else %}
    <!-- <script type="text/javascript">CLOSURE_BASE_PATH="./"</script> -->
    <script type="text/javascript" src="/js/closure/goog/base.js"></script>
    <script type="text/javascript" src="/js/deps.js"></script>
    <script type="text/javascript" src="/js/require.js"></script>
    {% endif %}
    {% block extra_js %}{% endblock %}
    {% endblock %}
  </head>
  <body>
    {% if prefs_json is defined %}
    <script type="text/javascript">LX.updatePrefs({{prefs_json}});</script>
    {% endif %}
    <div id="doc3" class="yui-t7">
      <div id="hd">
        <h1>{% block body_header %}lexigraph; graphing &amp; trending{% endblock %}</h1>
    {% block body %}
    {% block topnav %}
    {{ macros.draw_topnav(
        [('/', 'home'),
        ('/dashboard', 'dashboard'),
        ('/prefs', 'preferences'),
        ('/groups', 'groups'),
        ('/doc', 'docs'),
        ('/logout', 'logout')], account=account, accounts=accounts) }}
    {% endblock %}
      </div> <!-- hd -->
      <div id="bd" role="main">
        <div class="yui-g">
    <div id="real_content">
      {% if error_message %}
      <div id="error_message">{{error_message|e}}</div>
      {% endif %}
      {% if info_message %}
      <div id="info_message">{{info_message|e}}</div>
      {% endif %}
      {% block body_content %}{% endblock %}
      {% endblock %}
    </div> <!-- real_content -->

        </div> <!-- yui-g -->
      </div> <!-- bd -->
    <div id="ft"><p>&copy;{{copyright_year}} the lexicographers</p></div>
    </div> <!-- doc3 -->
  </body>
</html>
