{% import "macros.html" as macros %}
{% macro draw_topnav(items, id='topnav', account=None, accounts=[]) -%}
<div id="{{id}}">
  <ul>
    {%- for (link, name, title) in items %}
    <li><a href="{{link}}" title="{{title}}">{{name}}</a></li>
    {%- endfor %}
  </ul>
  <span class="topnav_select">
    {%- if account %}
    account: {{account.name}}
    {%- if accounts|length > 1 %}
    <span class="mini_link"><a href="/account"><span style="font-weight: normal">edit</span></a></span>
    {%- endif %}
    {% else %}
    <a href="/account">select an account</a>
    {%- endif %}
  </span>
</div>
{%- endmacro %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>lexigraph</title>
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.0r4/build/reset-fonts-grids/reset-fonts-grids.css">
    <link rel="stylesheet" type="text/css" href="/css/lexigraph.css">
    {% block extra_css %}{% endblock %}
    <!-- [if IE]>{{ macros.versioned_js(serials, "excanvas.compiled.js") }}<![endif] -->
    {{ macros.versioned_js(serials, "dygraph-combined.js") }}
    {%- if config.remote_jquery %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    {% else %}
    {{ macros.versioned_js(serials, "jquery-1.4.2.min.js") }}
    {% endif -%}
    {%- if is_live %}
    {{ macros.versioned_js(serials, "lexigraph.min.js") }}
    {% else %}
    <script type="text/javascript" src="/js/lexigraph.dev.js"></script>
    {% endif -%}
    {% block extra_js %}{% endblock %}
  </head>
  <body>
    {% if prefs_json is defined %}
    <script type="text/javascript">LX.updatePrefs({{prefs_json}});</script>
    {% endif %}
    <div id="doc3" class="yui-t7">
      <div id="hd">
        <h1>{% block body_header %}lexigraph; graphing &amp; trending{% endblock %}</h1>
        {% block body %}
        {% block topnav %}
        {{ draw_topnav(
        [('/', 'home', 'Home'),
        ('/dashboard', 'dashboard', 'Go back to the dashboard'),
        ('/query', 'query', 'Perform an advanced query'),
        ('/prefs', 'preferences', 'Edit preferences'),
        ('/groups', 'groups', 'Manage groups'),
        ('/doc', 'docs', 'API documentation'),
        ('/logout', 'logout', 'Logout')], account=account, accounts=accounts) }}
        {% endblock %}
      </div> <!-- hd -->
      <div id="bd">
        <div class="yui-g">
          <div id="real_content">
            {% if error_message %}
            <div id="error_message">{{error_message|e}}</div>
            {% endif %}
            {% if info_message %}
            <div id="info_message">{{info_message|e}}</div>
            {% endif %}
            {% block body_content %}{% endblock %}
            {% endblock %}
          </div> <!-- real_content -->
        </div> <!-- yui-g -->
      </div> <!-- bd -->
    <div id="ft"><p>&copy;{{copyright_year}} the lexicographers</p></div>
    </div> <!-- doc3 -->
  </body>
</html>
