{% import "macros.html" as macros %}
{% extends "base.html" %}

{% block extra_css %}<link rel="stylesheet" type="text/css" href="/css/dashboard.css">{% endblock %}

{% block body_content %}
<span title="enter a comma separated list of tags to search on" style="padding-bottom: 1em;">
<label for="tags_query">tag search: </label>
<input id="tags_query" class="label_input" type="text" size="50" value="dashboard" label="dashboard" name="tags"/>
</span>
<span id="b1"></span>
<script>LX.dashboard.draw_button();</script>
<br />

<div id="query_results">
  {% if dashboard_graphs %}
  <script>
    var dashboard_graphs = {{dashboard_graphs}};
    LX.dashboard.draw_initial_graphs(dashboard_graphs);
  </script>
  <script>
    LX.drawGraphs(dashboard_graphs);
  </script>
  {% else %}
  you don't have any dashboard graphs yet; try creating a new graph and giving
  it the <q>dashboard</q> tag.
  {% endif %}
</div>

<h2>add a new dataset</h2>
<form action="/new/dataset" method="POST">
  <fieldset>
    <legend>dataset details</legend>
    <!--dataset name: <input type="text" name="dataset"> <br />-->
    {{ macros.label_with_input("dataset name", "new_dataset_name", "dataset") }}
    {{ macros.aggregate_dropdown() }}
    initial group: <select name="group">
      {% for group in groups %}
      <option name="{{ group.name }}">{{ group.name }}</option>
      {% endfor %}
    </select> <br />
    tags (comma separated): <input type="text" name="tags" size=60 /><br />
    desc
    <textarea name="description" cols=80 row=3></textarea> <br />
  </fieldset>
  <fieldset>
    <legend>initial data series</legend>
    {{ macros.label_with_input("interval (seconds)", "new_interval", "ds_interval") }}
    {{ macros.label_with_input("max age (seconds)", "new_maxage", "ds_maxage") }}
  </fieldset>
  <br />
  <input type="submit" value="submit">
</form>
{% endblock %}
