{% import "macros.html" as macros %}
{% extends "base.html" %}
{% block body_content %}
{% if not datasets %}
<p>you don't have any datasets defined, nothing to see here.</p>
{% endif %}

{{ macros.initialize_graphs(prefs) }}
{% for dataset_name in datasets %}
{{ macros.draw_graph(dataset_name=dataset_name, width=prefs.large_width) }}
{% endfor %}

<form action="/new/dataset" method="POST">
  <fieldset>
    <legend>create a new dataset</legend>
    <!--dataset name: <input type="text" name="dataset"> <br />-->
    {{ macros.label_with_input("dataset name", "new_dataset_name", "dataset") }}
    {{ macros.aggregate_dropdown() }}
    initial group: <select name="group">
      {% for group in groups %}
      <option name="{{ group.name }}">{{ group.name }}</option>
      {% endfor %}
    </select> <br />
    description: <br />
    <textarea name="description" cols=80 row=3></textarea> <br />
    <input type="submit" value="submit">
  </fieldset>
</form>

{% endblock %}
