{% import "macros.html" as macros %}
{% extends "base.html" %}

{% block body_content %}

<span title="enter a comma separated list of tags to search on" style="padding-bottom: 1em;">
<label for="tags_query">tag search: </label>
<input id="tags_query" class="label_input" type="text" size="50" label="dashboard" name="tags"/>
</span>
<span id="b1"></span>
<script>
  var li1 = new goog.ui.LabelInput();
  li1.decorate(goog.dom.$('tags_query'));
  var b1 = new goog.ui.Button('update graphs');
  b1.render(goog.dom.$('b1'));
  goog.events.listen(b1.getElement(), goog.events.EventType.CLICK, function (e) {
      LX.graphQuery('tags_query', 'query_results');
  });
</script>
<br />

<div id="query_results">
{% if graphs %}
  <script>
{% for ds in graphs %}
  LX.drawGraph({onload: false, dataset_name: "{{ds.name}}"});
{% endfor %}
  </script>
{% endif %}
</div>

<h2>add a new dataset</h2>
<form action="/new/dataset" method="POST">
  <fieldset>
    <legend>dataset details</legend>
    <!--dataset name: <input type="text" name="dataset"> <br />-->
    {{ macros.label_with_input("dataset name", "new_dataset_name", "dataset") }}
    {{ macros.aggregate_dropdown() }}
    initial group: <select name="group">
      {% for group in groups %}
      <option name="{{ group.name }}">{{ group.name }}</option>
      {% endfor %}
    </select> <br />
    tags (comma separated): <input type="text" name="tags" size=60 /><br />
    desc
    <textarea name="description" cols=80 row=3></textarea> <br />
  </fieldset>
  <fieldset>
    <legend>initial data series</legend>
    {{ macros.label_with_input("interval (seconds)", "new_interval", "ds_interval") }}
    {{ macros.label_with_input("max age (seconds)", "new_maxage", "ds_maxage") }}
  </fieldset>
  <br />
  <input type="submit" value="submit">
</form>

{% endblock %}
