{% extends "base.html" %}

{% block topnav %}
{% endblock %}

{% block body_content %}
<p>lexigraph is a simple and reliable graphing and trending system.</p>
<h2>key features</h2>

lexigraph is designed as an alternative to similar software like cacti or
ganglia. for sysadmins, we wanted something with dynamics charts that would be
more reliable, scale better, and be easier to configure and maintain. for
developers we wanted to more something that was attractive, easy to interact
with, and had a simple http api.

<ul class="arrow_list">
  <li>simple &amp; fun &mdash; easy to set up, with an attractive and dynamic js interface</li>
  <li>hosted remotely &mdash; nothing to install, and we're up even if you're not</li>
  <li>reliable &amp; scalable &mdash; two characteristics we leverage from appengine</li>
  <li>secure &mdash; available over https, and supports fined-grained access controls</li>
  <li>developer friendly &mdash; access and manipulate data with a simple, restful api</li>
</ul>
{% if not config.whitelisted_emails %}
<h2>check it out</h2>
you can start using lexigraph immediately; just go to
the <a href="/dashboard">dashboard</a>.
{% else %}
<h2>coming soon</h2>
lexigraph is not publicly available yet, but a read-only demo account is
coming <q>soon</q>. in the meantime, ask evan if you want your google account
whitelisted.
{% endif %}
{% endblock %}
