<!-- jinja macros -->

{% macro expand_serial(serials, prefix, filename) -%}
{% if serials.get(filename) -%}
{{prefix}}/{{serials[filename]}}/{{filename}}
{%- else %}
{{prefix}}/{{filename}}
{%- endif %}
{%- endmacro -%}

{% macro versioned_js(serials, filename) -%}
<script type="text/javascript" src="{{expand_serial(serials, '/versioned_js', filename)}}"></script>
{%- endmacro -%}

{% macro label_with_input(label_name, id, name, value='', type='text', size=20, br=True) -%}
<label for="{{id}}">{{label_name}}: </label><input id="{{id}}" type="{{type}}" name="{{name}}" value="{{value|e}}" size="{{size}}">
{% if br %}
<br>
{% endif %}
{%- endmacro %}

<!-- draw the aggregate function dropdown -->
{% macro aggregate_dropdown(label_name='aggregate function', name='aggregate', id='aggregate_dropdown', br=True) -%}
<label for="{{id}}">{{label_name}}: </label>
<select name="{{name}}">
  <option>min</option>
  <option>max</option>
  <option>sum</option>
  <option>oldest</option>
  <option>newest</option>
</select>
{% if br %}
<br>
{% endif %}
{%- endmacro %}

{% macro draw_graph(dataset=None, dataset_name=None, show_edit=True, width=None) -%}
{% if dataset and not dataset_name %}
{% set dataset_name = dataset.name %}
{% endif %}
{% if show_edit %}
<div class="inline_header" id="graph_header_{{dataset_name}}"><h2>{{ dataset_name }}</h2>&nbsp;<span class="mini_link"><a href="/edit/dataset?name={{dataset_name}}">edit</a></span></div>
{% else %}
<h2>{{ dataset_name }}</h2>
{% endif %}

<div class="lexigraph_chart" id="graph_dataset_{{dataset_name}}"
     {% if width -%}
     {% set height = width / 1.618 -%}
     style="width: {{width}}px; height: {{height | int}}px;"
     {%- endif %}
     >
</div>
<script type="text/javascript">LX.draw_graph({"dataset_name": "{{ dataset_name }}"})</script>
{%- endmacro %}

{% macro draw_topnav(items, id='topnav', account=None, accounts=[]) -%}
<div id="{{id}}">
  <ul>
    {%- for (link, name) in items %}
    <li><a href="{{link}}">{{name}}</a></li>
    {%- endfor %}
  </ul>
  <span class="topnav_select">
    {%- if account %}
    account: {{account.name}}
    {%- if accounts|length > 1 %}
    <span class="mini_link"><a href="/account"><span style="font-weight: normal">edit</span></a></span>
    {%- endif %}
    {% else %}
    <a href="/account">select an account</a>
    {%- endif %}
  </span>
</div>
{%- endmacro %}
