<!-- jinja macros -->

{% macro expand_serial(serials, prefix, filename) -%}
{% if serials.get(filename) -%}
{{prefix}}/{{serials[filename]}}/{{filename}}
{%- else %}
{{prefix}}/{{filename}}
{%- endif %}
{%- endmacro -%}

{% macro scheme(use_ssl) -%}
http{% if use_ssl %}s{% endif %}://
{%- endmacro -%}

{% macro versioned_js(serials, filename) -%}
<script type="text/javascript" src="{{expand_serial(serials, '/versioned_js', filename)}}"></script>
{%- endmacro -%}

{% macro versioned_css(serials, filename) -%}
<link rel="stylesheet" type="text/css" href="{{expand_serial(serials, '/versioned_css', filename)}}">
{%- endmacro -%}

{% macro label_with_input(label_name, id, name, value='', type='text', size=20, br=True, label_div=None, input_div=None) -%}
{% if label_div %}<div class="{{label_div}}">{% endif %}
<label for="{{id}}">{{label_name}}: </label>
{% if label_div %}</div>{% endif %}
{% if input_div %}<div class="{{input_div}}">{% endif %}
<input id="{{id}}" type="{{type}}" name="{{name}}" value="{{value|e}}" size="{{size}}">
{% if input_div %}</div>{% endif %}
{% if br %}
<br>
{% endif %}
{%- endmacro %}

{% macro draw_graph(dataset=None, dataset_name=None, show_edit=True, width=None) -%}
{% if dataset and not dataset_name %}
{% set dataset_name = dataset.name %}
{% endif %}
{% if show_edit %}
<div class="inline_header" id="graph_header_{{dataset_name}}"><h2>{{ dataset_name }}</h2>&nbsp;<span class="mini_link"><a href="/edit/dataset?name={{dataset_name}}">edit</a></span></div>
{% else %}
<h2>{{ dataset_name }}</h2>
{% endif %}

<div class="lexigraph_chart" id="graph_dataset_{{dataset_name}}"
     {% if width -%}
     {% set height = width / 1.618 -%}
     style="width: {{width}}px; height: {{height | int}}px;"
     {%- endif %}
     >
</div>
<script type="text/javascript">LX.draw_graph({"dataset_name": "{{ dataset_name }}"})</script>
{%- endmacro %}
